---
Language:        Cpp
BasedOnStyle:  Google

AccessModifierOffset: -1

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

ColumnLimit:     80
IndentWidth:     4
UseTab:          Never
TabWidth:        4

PointerAlignment: Left
ReferenceAlignment: Left
